
<div id="page-content-wrapper">
  <div class="page-content inset">
    <div class="row">
        <div class="col-md-12">
          <div class="content">
          <div class="row">
          <% @invoice.each do |invoice| %>
            <h1>Bill: <strong><%= invoice.associated_id %></strong></h1>
             <hr>  
            </div>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <th>Type</th>
                  <th>Payment</th>
                  <th>Invoice</th>
                  <th>Description</th>
                  <th>Subtotal</th>
                  <th>Tax</th>
                  <th>Total</th>
                  <th>Balance</th>
                  <th>Date</th>
                  <th>Document</th>
                  <th>Payment Proof</th>
                  <th>Associated</th>
                  <th>User</th>
                </thead>
                <tbody>                        
                  <tr>
                    <td><%= invoice.kind_operation %></td>
                    <td><%= invoice.kind_payment %></td>
                    <td><%= invoice.kind_invoice %></td>
                    <td><%= invoice.description %></td>
                    <td><%= invoice.subtotal %></td>
                    <td><%= invoice.tax %></td>
                    <td><%= invoice.total %></td>
                    <td><%= invoice.balance %></td>
                    <td><%= invoice.date %></td>
                    <td><%= invoice.document %></td>
                    <td><%= invoice.payment_proof %></td>
                    <td><%= invoice.associated_id %></td>
                    <td><%= invoice.user_id %></td>  
                  </tr>
                </tbody>
              </table>
            </div>  
            <%= link_to "Return", "/invoices", :class => 'btn btn-mini btn-success' %>    <%= link_to  "Edit", edit_invoice_path(invoice), :class => 'btn btn-primary' %>
            <%= link_to 'Delete', invoice, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>                  
                  <% end %>        
          </div>
      </div>
    </div>
  </div>
</div>      

