
<div id="page-content-wrapper">
  <div class="page-content inset">
    <div class="row">
        <div class="col-md-12">
          <div class="content">
          <div class="row">
            <h1>Bill: </h1>
            <% @invoice.each do |invoice| %>
            <h3>Associated: <strong><%= invoice.name_associated %></strong></h3>
             <hr>  
            </div>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <th>Type</th>
                  <th>Payment</th>
                  <th>Invoice</th>
                  <th>Product</th>
                  <th>Description</th>
                  <th>Price</th>
                  <th>Tax</th>
                  <th>Total</th> 
                  <th>Date</th>
                  <th>Associated</th>
                  <th>ID</th>
                  <th>Address</th>
                  <th>Document</th>
                  <th>Payment Proof</th>
                </thead>
                <tbody>                        
                  <tr>
                    <td><%= invoice.kind_operation %></td>
                    <td><%= invoice.kind_payment %></td>
                    <td><%= invoice.kind_invoice %></td>
                    <td><%= invoice.name_product %></td>
                    <td><%= invoice.description %></td>
                    <td><%= invoice.subtotal %></td>
                    <td><%= invoice.tax %></td>
                    <td><%= invoice.total %></td>
                    <td><%= invoice.date %></td>
                    <td><%= invoice.name_associated %></td>
                    <td><%= invoice.ci_associated %></td>
                    <td><%= invoice.address_associated %></td>
                    <td><%= invoice.document %></td>
                    <td><%= invoice.payment_proof %></td>
                  </tr>
                </tbody>
              </table>
            </div>  
            <%= link_to " ", "/invoices", :class => 'btn btn-mini btn-success glyphicon glyphicon-chevron-left' %>    <%= link_to  " ", edit_invoice_path(@invoice), :class => 'btn btn-success glyphicon glyphicon-pencil' %>
            <%= link_to " ", invoice_path(@invoice, :format => 'pdf'), :class => "btn btn-mini btn-success glyphicon glyphicon-save" %>
            <%= link_to ' ', @invoice, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger glyphicon glyphicon-trash' %>    
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>      

