
      <div id="page-content-wrapper">
        <div class="page-content inset">
          <div class="row">
              <div class="col-md-12">
                <div class="content">
                <div class="row">
                  <h1>Customers</h1> 
                  <hr>                    
                  </div>
                  <ul class="nav nav-tabs">
                    <li role="presentation" ><%= link_to "Associateds", Associated %></li>
                    <li role="presentation"><%= link_to "Customers", customers_path %></li>
                    <li role="presentation"><%= link_to "Actives", customers_active_path %></li>
                    <li role="presentation"><%= link_to "Inactives", customers_inactive_path %></li>
                    <li role="presentation"><%= link_to "Punctuals", customers_punctual_path %></li>
                    <li role="presentation" class="active"><%= link_to "Recurrents", customers_recurrent_path %></li>
                    <%= link_to "New Associated", new_associated_path, :class => 'btn btn-mini btn-success' %>
                  </ul>
                  <br><br>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <th>N°</th>
                        <th>Name</th>
                        <th>CI-RIF</th>
                        <th>Alias</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Description</th>
                        <th>Details</th>
                        <th>Update</th>
                        <th>Delete</th>
                      </thead>
                      <tbody>
                        <% @customers_recurrent.each_with_index do |associated, index| %>
                        <tr>
                          <td><%= index + 1 %></td>
                          <td><%= associated.name %></td>
                          <td><%= associated.ci_rif %></td>
                          <td><%= associated.alias %></td>
                          <td><%= associated.email %></td>
                          <td><%= associated.phone %></td>
                          <td><%= associated.description %></td>
                          <td><%= link_to  "Details", associated_path(associated), :class => 'btn btn-mini btn-info' %></td>
                          <td><%= link_to  "Edit", edit_associated_path(associated), :class => 'btn btn-mini btn-primary' %></td>
                          <td><%= link_to 'Destroy', associated, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>                  
                </div> 
            </div>
          </div>
        </div>
      </div>      
