
<div id="page-content-wrapper">
  <div class="page-content inset">
    <div class="row">
        <div class="col-md-12">
          <div class="content">                
            <div class="row">
            <h1>Providers: <strong>Inactives</strong></h1>  
            <hr>                    
            </div> 
                <%= render 'layouts/stakeholders' %>
            <br><br>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <th>N°</th>
                  <th>Name</th>
                  <th>CI-RIF</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Details</th>
                  <th>Update</th>
                  <th>Delete</th>
                </thead>
                <tbody>
                  <% @providers_inactive.each_with_index do |associated, index| %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <td><%= associated.name %></td>
                    <td><%= associated.ci_rif %></td>
                    <td><%= associated.email %></td>
                    <td><%= associated.phone %></td>
                    <td><%= link_to  "Details", associated_path(associated), :class => 'btn btn-mini btn-default' %></td>
                    <td><%= link_to  "Edit", edit_associated_path(associated), :class => 'btn btn-mini btn-primary' %></td>
                    <td><%= link_to 'Destroy', associated, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>                  
          </div> 
      </div>
    </div>
  </div>
</div>      

