
<div id="page-content-wrapper">
  <div class="page-content inset">
    <div class="row">
        <div class="col-md-12">
          <div class="content">                
            <div class="row">
          <% @associated.each do |associated| %>
            <h2><%= associated.kind %> : <strong><%= associated.name %></strong></h2>
            <hr>                    
            </div>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <th>Name</th>
                  <th>CI-RIF</th>
                  <th>Alias</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Address</th>
                  <th>Type</th>
                  <th>Frequency</th>
                  <th>Description</th>
                  <th>Status</th>
                  <th>User</th>
                </thead>
                <tbody>
                  <tr>
                    <td><%= associated.name %></td>
                    <td><%= associated.ci_rif %></td>
                    <td><%= associated.alias %></td>
                    <td><%= associated.email %></td>
                    <td><%= associated.phone %></td>
                    <td><%= associated.address %></td>
                    <td><%= associated.kind %></td>
                    <td><%= associated.frequency %></td>
                    <td><%= associated.description %></td>
                    <td><%= associated.status %></td> 
                    <td><%= associated.user_id %></td> 
                  </tr>
                </tbody>
              </table>
            </div> 
             <%= link_to "Return", "/associateds", :class => 'btn btn-mini btn-success' %> 
             <%= link_to  "Edit", edit_associated_path(associated), :class => 'btn btn-mini btn-primary' %>  
             <%= link_to 'Delete', associated, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>                
                  <% end %>                          
          </div>
      </div>
    </div>
  </div>
</div>      

