<!DOCTYPE html>
<html>
<head>
  <title>HackFacturation</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/2fd34eb3c2/UntitledProject/style.css">
</head>
<body>

     <div id="wrapper" class="active">
          <div id="sidebar-wrapper">
            <ul id="sidebar_menu" class="sidebar-nav">
                 <%= image_tag "full-logo-aeb6cec9ca9eee43393c56f9d220e49c.png", :alt => "logo", :title => "logo"%>
            </ul>
              <ul class="sidebar-nav" id="sidebar">     
                <li><a><%= link_to  "Stakeholders",Associated %></a></li>
                <li><a><%= link_to  "Products",Product %></a></li>
                <li><a><%= link_to  "Bills",Invoice %></a></li>                
                <li><a><%= link_to  "Users",User %></a></li>
                <li><a>Payment Record</a></li>
                <li><a>Report</a></li>
                <li><a>Search</a></li>
              </ul>
              <br><br>
              <footer>
                <p>&copy; Hack 2015</p>
              </footer>
          </div>          
          <!-- Page content -->
          <div id="page-content-wrapper">
            <div class="page-content inset">
              <div class="row">
                  <div class="col-md-12">
                  
                      <nav class="navbar navbar-default">
                        <div class="container-fluid">
                          <div class="navbar-header navbar-right">
                            <p class="navbar-text pull-right" style="margin-right:50px;">
                              <% if user_signed_in? %>
                              <strong><%= current_user.username %></strong>.
                              <%= link_to 'Edit', edit_user_registration_path %> |
                              <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
                              <% else %>
                              <%= link_to "Sign up", new_user_registration_path  %> |
                              <%= link_to "Login", new_user_session_path  %>
                              <% end %>
                              </p>
                          </div>
                        </div>
                      </nav>  
                        <%= bootstrap_flash %>            
                        <%= yield %>     
                  
                </div>
              </div>
            </div>
          </div>      
      </div>
</body>
</html>